:host {
    height: 100px;

    .add-window {
        padding: 35px 70px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .header-window {
            width: 600px;
            display: flex;
            justify-content: space-between;

            .title {
                font-size: 25px;
                color: #0E4F6E;
                font-family: 'Helvetica Neue';
            }

            .close-container {
                .close-btn {
                    border: none;
                    background-color: #F8F8F8;
                }
            }

        }

        .name-color-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 626px;

            .labels {
                margin-top: 40px;
                font-family: 'Helvetica Neue';
                display: flex;
                justify-content: space-between;

                .color-label {
                    margin-right: 25px;
                }

            }

            .name-color {
                display: flex;
                justify-content: space-between;

                .name {
                    width: 100%;
                    height: 44px;
                    margin-right: 20px;
                    border: none;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 6px;
                }

                .name:focus {
                    outline: none !important;
                    border: 2px solid #007AF9;
                }

                .name::placeholder {
                    font-style: italic;
                }

                .color {
                    width: 80px;
                    position: relative;
                }
            }
        }

        .textarea-area {
            width: auto;

            .tag-label {
                margin-top: 35px;
                font-family: 'Helvetica Neue';
            }

            .textarea-input {
                width: 100%;
                height: 130px;
                border: none;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 6px;
                font-style: italic;
            }

            .textarea-input:focus {
                outline: none !important;
                border: 2px solid #007AF9;
            }
        }

        .btn-container {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .buttons-area {
                display: flex;
                justify-content: space-between;

                .cancel-btn {
                    width: 114px;
                    height: 46px;
                    border: solid 1px #707070;
                    border-radius: 5px;
                }

                .save-btn {
                    width: 114px;
                    height: 46px;
                    border-radius: 2px;
                    border: none;
                    background-color: #2BAE6D;
                    color: white;
                }
            }
        }

    }
}

@media all and (max-width: 765px) {
    :host {
        height: 100px;

        .add-window {
            .name-color-container {
                width: auto;
            }
        }

        .textarea-area {
            width: auto;
        }

        
    }
}