<div class="add-window">
    <div class="header-window">
        <div class="title">Create New</div>
        <div class="close-container"><button class="close-btn"> <img src="./assets/x.svg"></button></div>
    </div>
    <div class="name-color-container">
        <div class="labels">
            <div>Name</div>
            <div class="color-label">Color</div>
        </div>
        <div class="name-color">
            <input class="name" placeholder="Type tag name…">
            <div class="color">
                <app-cs-dropdown class="cs-dropdown"></app-cs-dropdown>
            </div>
        </div>
    </div>
    <div class="textarea-area">
        <div class="tag-label">Tag Description</div>
        <textarea class="textarea-input" placeholder="Type tag description…"></textarea>
    </div>
    <div class="btn-container">
        <div class="buttons-area">
            <button class="cancel-btn">CANCEL</button>
            <button class="save-btn">SAVE</button>
            </div>
    </div>
    
</div>