<div class="about-me">
  <div class="photo-and-images">
    <div class="wrapper-image">
      <img src="assets/about-me-imgs/my_photo.jpeg" alt="My Photo">
      <div class="name">Nadya Pak</div>
    </div>
    <div class="orbit">
      <img *ngFor="let smallImg of smallImages; let i = index" [src]="smallImg" [ngStyle]="getImageStyle(i)">
    </div>
  </div>
  <div class="text-container">
    <div class="text">
      <article>
        Hello, I am Nadya, a passionate Front-End Developer with a blend of creative
        and analytical skills. I <div class="heart">&#x2665;</div> coding and thrive on creating innovative
        solutions. I am proficient in the Angular framework and have extensive
        knowledge of React JS, which I actively use in my projects. My enthusiasm
        for coding drives me to stay open-minded to new technologies. I am
        easy-going, responsible, and eager to join a collaborative team with
        engaging tasks.
      </article>
      <div class="contacts-area">
        <div>Contacts:</div>
        <div><i class="bi bi-phone"></i> +(972) 58-553-69-21</div>
        <div>
          <i class="bi bi-envelope-paper"></i><a
            href="mailto:Nadegda.park17071@gmail.com?subject=Vacancy Front End Developer">
            Nadegda.park1707@gmail.com</a>
        </div>
        <div>
          <i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/park-nadegda/" target="_blank">
            linkedin.com/in/park-nadegda</a>
        </div>
      </div>
    </div>
  </div>