.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 11%;

    .photo-and-images {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .wrapper-image {
            width: 16rem;

            img {
                width: 100%;
                clip-path: circle();
            }

            .name {
                display: flex;
                justify-content: center;
            }
        }

        .orbit {
            width: 22rem;
            height: 22rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: spin 10s linear infinite;

            img {
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                padding: 5px;
                clip-path: circle();
                background-color: #c4bfea;
            }

        }
    }

    @media screen and (max-width: 770px) {
        .photo-and-images {
            margin-top: 25px;
        }

    }

    .text-container {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            background-color: #c4bfea;
            width: 90%;
            height: 80%;
            border-radius: 8px;

            article {
                margin: 7% 8%;
                margin-bottom: unset;
                color: black;
                font-size: 14px;
            }

            @media screen and (max-width: 380px) {
                article {
                    font-size: 12px;
                }

            }
        }

        @media screen and (max-height: 700px) {
            .text {
                font-size: 12px;
            }

        }
    }

    .contacts-area {
        margin: 2% 8% 5%;
        color: #5e51b7;
        font-size: 14px;

        a {
            color: #5e51b7;
        }
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 770px) {
    .about-me {
        flex-direction: column;

        .photo-and-images {
            .wrapper-image {
                margin-top: 20px;
            }

            .orbit {
                display: none;
            }
        }

        .text-container {
            width: 95%;
            height: 60%;

            .text {
                margin-top: 1rem;
            }
        }
    }
}