.description-area {
    width: 60%;
    height: 90%;
    background-color: #e7afaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0; 
    padding: 0 5px 0 35px;
    overflow: hidden;
    position: relative;
}