.about-me {
    margin: 3%;
    text-align: justify;

    .photo {
        width: 60%;
        height: 250px;
        background: url("/assets/Photo_blue.jpg");
        background-size: cover;
        background-position: top;
        display: none;
    }

    .description {
        margin-top: 15px;
    }

    .contacts-area {
        a{
            color: white;
        }
    }
}

@media all and (max-width:750px) {
    .about-me {
        .photo {
            display: block;
            min-height: 450px;
        }
    }
}