<div class="about-me">
  <h2>ABOUT ME</h2>
  <div class="photo"></div>
  <div class="description">
    Hello, I am Nadya, Front-End Developer with creative and logical thinking.
    Love coding and create something new.Proficiency in Angular Framework.
    Open-minded to new technologies like VueJs, React, easy-going and
    responsible. I would like to join a friendly team with interesting tasks and
    to do my best to contribute to a purpose-led company's goals.
  </div>
  <hr />
  <div class="contacts-area">
    <h3>Contacts:</h3>
    <div><i class="bi bi-phone"></i> (+972) 58-553-69-21</div>
    <div>
      <i class="bi bi-envelope-paper"></i
      ><a
        href="mailto:Nadegda.park17071@gmail.com?subject=Vacancy Front End Developer"
      >
        Nadegda.park17071@gmail.com</a
      >
    </div>
    <div>
      <i class="bi bi-linkedin"></i
      ><a href="https://www.linkedin.com/in/park-nadegda/" target="_blank">
        linkedin.com/in/park-nadegda</a
      >
    </div>
  </div>
</div>
