<div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="container-fluid justify-content-start">
          <a class="navbar-brand" routerLink="/ta9">
            <img src="\assets\logo.png" alt="" width="75" height="24" class="d-inline-block align-text-top">
          </a>
          <button type="button" class="btn btn-outline-secondary" routerLink="./"   routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-people-fill"></i>User
          </button>
          <button type="button" class="btn btn-outline-secondary" routerLink="./admin"  routerLinkActive="active"><i class="bi bi-shield-fill-check"></i>Admin

          </button>
        </form>
        
      </div>
    </nav>
    <router-outlet></router-outlet>
</div>