<div class="container">
    <div class="float-container">
        <p>data from server updating every 5s </p>
        <div class="float-child">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">IP address</th>
                        <th scope="col">Client ID</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of clientInfo">
                        <td>{{item.ip}}</td>
                        <td>{{item.clientId}}</td>
                        <td>{{item.status}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="float-child">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 500px">{{message}}</textarea>
                <label for="floatingTextarea2"></label>
            </div>
        </div>
    
    </div>
    
</div>