<div class="list-headers">
    <div class="rows">
        <div class="cols1">Color</div>
        <div class="cols2"><i class="bi bi-arrow-up"></i>Name</div>
        <div class="cols3">Create Date</div>
        <div class="cols3">Last Update</div>
        <div class="cols3">Created by</div>
    </div>
</div>
<div class="items-list">
    <div class="item">
        <div class="item-color">
            <div class="color-icon"></div>
        </div>
        <div class="name">hjk</div>
        <div class="create-date">ttttttt</div>
        <div class="udate-date">sdfsf</div>
        <div class="created-by">dsf</div>
    </div>
</div>