.list-headers {
    margin: 15px 70px;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-family: 'Helvetica Neue';
}

.cols1 {
    flex-grow: 1;
}

.cols2 {
    flex-grow: 7;
}

.cols3 {
    flex-grow: 2;
}

.item-list {}

.item {
    margin: 0px 66px 30px 70px;
    height: 71px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.item-color {
    flex-grow: 1;
    padding: 10px;

}

.color-icon{
    width: 32px; 
    height: 32px;
    background-color: blue;
    border-radius: 10px;
}
.name {
    flex-grow: 6;
}

.create-date {
    flex-grow: 2;
}

.udate-date {
    flex-grow: 2;
}

.created-by {
    flex-grow: 2;
}