
.card{
    width: 600px;
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: black;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  @media all and (max-width:700px){
    .card{
        width: fit-content;
        position: absolute;
        top: 55%;
    }
}