<div class="title">
  <h1>My portfolio:</h1>
</div>
<div class="portfolio-container">
  <div class="items-container">
    <div class="items">
      <div class="img-div-container">
        <div class="img-div1">
        </div>
        <div class="item-info">
          <div class="info">
            <h3>First Project:</h3>
            <p>This is my first project. The project helps to sell and keep count books. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div2">
        </div>
        <div class="item-info">
          <div class="info">
            <h3>Second Project:</h3>
            <p>This is my second project. The project keep tracking your presense. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div3">
        </div>
        <div class="item-info">
          <div class="info">
            <h3>Third Project:</h3>
            <p>This is my third project. The project helps you to find film and mark it if you like it. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div4">
        </div>
        <div class="item-info">
          <div class="info">
            <h3>Fourth Project:</h3>
            <p>This is my fourth project. The project helps you to manage some events. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>