<div class="portfolio">
  <div class="title">
    <h2>MY PROJECTS:</h2>
  </div>
  <div class="items-container">
    <div class="items">
      <div class="img-div-container">
        <div class="img-div casino"></div>
        <div class="item-info" (click)="goto('https://pnadya90.github.io/baba-test/#/')">
          <div class="info">
            <h3>Casino Project (Angular 17):</h3>
            <p>
              The project based on Angular 17. In this project you can try your luck
              just choose slot "777 burning hot" set some bet and click on spin button
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container" (click)="goto('https://pnadya90.github.io/NLPagesNadya/')">
        <div class="img-div nlp"></div>
        <div class="item-info">
          <div class="info">
            <h3>NLP Project (Angular 18):</h3>
            <p>
              User can insert some Info for example like:
              Last name, First Name etc in already prepared template.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div pokemons"></div>
        <div class="item-info" (click)="
            goto('http://pakdim-react.s3-website.eu-central-1.amazonaws.com')
          ">
          <div class="info">
            <h3>Pokemon Project (React JS):</h3>
            <p>
              The project based on ReactJS and Firebase. You can create your
              personal account and after add and remove pokemons in your cart. I
              hope you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div exorigios"></div>
        <div class="item-info" (click)="goto('https://pnadya90.github.io/exorigos/')">
          <div class="info">
            <h3>Exorigios Project (Angular 15):</h3>
            <p>
              The project allow user to manage some goods in table.
              User can sort goods by id, name, description and price, also edit information about each good.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="img-div-container">
        <div class="img-div1"></div>
        <div class="item-info" (click)="goto('/stanley')">
          <div class="info">
            <h3>Book Project:</h3>
            <p>
              The project helps to sell and keep count books. You can click and
              check. I hope you will enjoy.
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>