.title {
    text-align: center;
}

.portfolio-container {
    position: relative;
    height: 450px;
    overflow: auto;

    .items-container {

        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3%;

            img {
                width: 100%;
                position: relative;
                margin: 5px;
            }
        }

    }

}

.portfolio-container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

@media all and (max-width:700px) {
    .title{
        margin-top: 15px;
    }
    .portfolio-container{
        height: 700px;
        margin-right: 5%;

        .items-container {
            .items {
                img {
                    width: 100%;
                }
            }
        }
    }
}