<div class="portfolio-container">
  <div class="title">
    <h2>MY PORTFOLIO:</h2>
  </div>
  <div class="items-container">
    <div class="items">
      <div class="img-div-container">
        <div class="img-div5">
        </div>
        <div class="item-info" (click)="goto('http://pakdim-react.s3-website.eu-central-1.amazonaws.com',true)">
          <div class="info">
            <h3>Pokemon Project (React JS):</h3>
            <p>The project based on ReactJS and Firebase. You can create your personal account and after add and remove pokemons in your cart. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div1">
        </div>
        <div class="item-info" (click)="goto('/stanley')">
          <div class="info">
            <h3>Book Project:</h3>
            <p> The project helps to sell and keep count books. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container" (click)="goto('/ta9')">
        <div class="img-div2">
        </div>
        <div class="item-info">
          <div class="info">
            <h3>Tracking Project:</h3>
            <p>The project keep tracking your presense. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div3">
        </div>
        <div class="item-info" (click)="goto('/kino')">
          <div class="info">
            <h3>Kino Project:</h3>
            <p>The project helps you to find film and mark it if you like it. You can click
              and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="img-div-container">
        <div class="img-div4">
        </div>
        <div class="item-info" (click)="goto('/listMode')">
          <div class="info">
            <h3>Events Project:</h3>
            <p>The project helps you to manage some events. You can click and check. I hope
              you will enjoy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>