body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #F2F6F9;
    position: relative;

    .pages-header {

        .search-url {
            height: 43px;
            border: none;
            font-style: italic;
            margin-top: 30px;
            margin-left: 65px;
        }

        .search-url:focus {
            outline: 2px solid #007AF9;
        }

        .search-url::placeholder {
            font-style: italic;
            text-indent: 3px;
        }


        .btn-go {
            background-color: #007AF9;
            color: #FFFFFF;
            border: none;
            width: 79px;
            height: 43px;
            margin-left: 6px;
            position: relative;
            top: -2px;
            font-family: 'Helvetica Neue';
        }

    }

    .viewer-container {
        height: 60%;
    }

    .add-area {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #F8F8F8;
        box-shadow: 0px 3px 6px #00000029;
    }
}

@media all and (min-width: 700px) {
    .search-url {
        width: 530px;
        height: 90%;
    }
}

@media all and (max-width: 480px) {
    body {
        .pages-header {

            .search-url {
                margin: 30px;
            }
        }
        .viewer-container {
            height: 50%;
        }
    
    }
}
