<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container-CV">
    <div class="info-area">
      <div class="nav-area">
        <div class="side-bar-icon">
          <i class="bi bi-list"></i>
        </div>
        <div class="side-icons">
          <div class="about-icon" (click)="showPortfolio()" [ngStyle]="{'color': iconColorAbout}"> 
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="portfolio-icon" (click)="showPortfolio()" [ngStyle]="{'color': iconColorPortfolio}">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="cv-icon">
            <i class="bi bi-cloud-download"></i>
          </div>
        </div>

     
      </div>
      <div class="avatar-area">
        <div class="name-area">
          <h1>Nadya Pak</h1>
          <h3>Front-End Developer</h3>
          <h3>1 year experience</h3>
        </div>
      </div>
      <div class="description-area">
        <app-about-me *ngIf="summary"></app-about-me>
        <app-portfolio *ngIf="!summary" class="portfolio"></app-portfolio>
      </div>
    </div>
  </div>
</body>

</html>