<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> 
  <div class="pages-header">
    <input class="search-url" placeholder="URL">
    <button class="btn-go">GO</button>
  </div>
  <app-manegment-modul (onOpenAddWindow)="showWindow() "></app-manegment-modul>
  <div class="viewer-container" >
    <app-info></app-info>
  </div>
  <div class="add-area" [@openWindow]="this.isExpanded ? 'expanded' : 'initial'">
    <app-add-window (onCloseWindow)="hideWindow()"></app-add-window>
  </div>
 
</body>

</html>