.container_1 {
    .head {
        background-color: blueviolet;
        height: 50px;
        color: aliceblue;

        img {
            width: 150px;
            margin: 10px;
        }

        .btn-add {
            float: right;
            margin: 10px;
            color: blueviolet;
            border-radius: 5px;
            padding: 0 5px;
        }
    }
    .info {

        #search1{
            margin: 1% 5px;
            width: calc(100% - 10px);
        }
    }
}

.btn-primary1 {
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px 25px;
}

@media screen and (max-width: 320px) {
    .container_1 {
        width: fit-content;
    }
}
