.container_1 {
    margin: 5px;

    .head {
        background-color: blueviolet;
        height: 50px;
        color: aliceblue;

        img {
            width: 150px;
            margin: 10px;
        }

        .btn-add {
            float: right;
            margin: 10px;
            color: blueviolet;
            border-radius: 5px;
        }
    }
}

input {
    margin: 3px;
}

.btn-primary1 {
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
}



