<div class="tool">
    <div class="title">Management Tool</div>
    <div class="tools-icons">
        <button class="tool-btns"> <img src="./assets/Tiles Mode.svg"></button>
        <button class="tool-btns"> <img src="./assets/List Mode.svg"></button>
        <button class="tool-btns"> <img src="./assets/Create New.svg" (click)="openAddWindow()"></button>
    </div>
</div>
<div class="search">
    <div class="icon-search">
        <img src="./assets/Find.svg">
    </div> 
    <input type="text" class="search-input" placeholder="Find by name ..." (keydown)="searchInfo($event)">
</div>
