<div class="search-area">
  <input class="form-control" type="search" id="search1" aria-label="Search" mdbInput placeholder="Search some film"
    [(ngModel)]="filmName" (ngModelChange)="searchFilm($event)">

</div>
<div class="content">
  <h1>Welcome to our site! It's time to relax!
  </h1>
  <p>
    In our web site you can find your favourite films and some new ones.
  </p>
  <br>
  <div class="table-area" *ngIf="tableItem?.length>0">
    <div class="filmsTable">
      <div class="table-head">
        <div> Poster </div>
        <div> Information </div>
        <div> Year </div>
      </div>
      <div *ngFor="let item of tableItem" class="tableItem" >
        <div class="poster-area" >
          <app-films-info [item]="item">
          </app-films-info>
          <img class="poster" src={{item.Poster}} style="width:150px" (error)="onErr($event)" (click)="openFilmInfo('/kino/filmDescription/'+item.imdbID)">
          <div class="like" (click)="likeFilm(item?.imdbID)">
            <svg class="heart" [ngClass]="{'likedF': item.isLiked }" viewBox="-5 0 523 512">
              <path
                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
            </svg>
          </div>
        </div>
        <div class="info">{{ item.Title }}, {{item.Type}}</div>
        <div class="info">{{item.Year}} </div>
      </div>

    </div>
  </div>