.dim-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2cbfbf;
    .links-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        .link-item {
            font-size: 25px;
            margin: 10px;
            color: yellow;
        }
    }
    .face-container{         
            overflow: hidden;
            position:absolute;
            top: 0px;
            left: 0px;
       
    }
    .headbox{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    @keyframes disapearing{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
@media all and (min-width:600px) {
    .dim-container {
        .links-menu {
            .link-item {
                font-size: 35px;
            }
        }
    }
}