<div class="dim-container">
	<div class="photo-container"><img class="photo" src="/assets/dimPhoto.jpg"> </div>
	
    <div class="links-menu">
        <div class="link-item" (click)="redirectTo('https://github.com/3620849')"><i class="bi bi-github"></i></div>
        <div class="link-item" (click)="redirectTo('https://www.linkedin.com/in/dima-shanin/')"><i class="bi bi-linkedin"></i></div>
        <div class="link-item" (click)="redirectTo('https://www.facebook.com/DimyD')"><i class="bi bi-facebook"></i></div>  
        <!-- <div class="link-item"><i class="bi bi-emoji-sunglasses"></i></div>   -->
        <div class="link-item" (click)="redirectTo('./assets/dimcv.pdf')"><i class="bi bi-filetype-doc"></i></div>     
    </div>
	<div class="headbox"><app-head></app-head>
	</div>
	
</div>