<div class="content-area">
  <header>
    <img src="\assets\img\kino.jpg" alt="" class="logo" routerLink="/kino">
    <nav class="nav-area">
      <button routerLink="/kino" class="btn"> <i class="bi bi-house-fill"></i> Home</button>
      <button class="btn" *ngIf="loggBtnService.isLoggedIn" routerLink="./userAccount"><i
          class="bi bi-person-video2"></i>User account</button>
      <button class="btn" *ngIf="!loggBtnService.isLoggedIn" [routerLink]="'./login'"> <i
          class="bi bi-box-arrow-in-right"></i>Login</button>

      <button class="btn" *ngIf="loggBtnService.isLoggedIn" [routerLink]="'./login'" (click)="logoutUser()"><i
          class="bi bi-box-arrow-left"></i>Logout</button>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>