<div class="content-area">
  <header>
    <img src="\assets\img\kino.jpg" alt="" class="logo" routerLink="/kino">
    <nav>
      <ul class="nav-area">
        <li><a routerLink="/kino" class="home_btn">Home</a></li>
        <li><a class="userAccount_btn" *ngIf="loggBtnService.isLoggedIn" routerLink="./userAccount">User account</a>
        </li>
        <li> <a class="btn-area" *ngIf="!loggBtnService.isLoggedIn" [routerLink]="'./login'">Login</a></li>
        <li>
          <a class="btn-area" *ngIf="loggBtnService.isLoggedIn" [routerLink]="'./login'"
            (click)="logoutUser()">Logout</a>
        </li>
      </ul>
    </nav>

  </header>
  <router-outlet></router-outlet>
</div>