@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
        url('./assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('./assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
        url('./assets/fonts/NimbusSansLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Helvetica LT';
    src: url('./assets/fonts/HelveticaNeueLTProTh.otf');
  } 