h2{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
      
  }

.form-area{
    width: 500px;
    height: 350px;
    position: flex;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 100px;
}
.form-label{
    color: aliceblue;
}

.new-user-btn{
background-color: aliceblue;
color: black;
}

.btn-area{
    cursor: pointer;
    color: aliceblue;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(205, 140, 235);

}

p{
    color: red;
    font-size: 15px;
}

.logged{
    color: aliceblue;
    font-size: 20px;
}