.login-area{
    margin: 3%;
}

h2{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
      
  }

.form-area{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 3% 0;
}
.form-label{
    color: aliceblue;
}

.new-user-btn{
background-color: aliceblue;
color: black;
}

.btn-create{
    cursor: pointer;
    color: aliceblue;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    background: rgb(205, 140, 235);
    border-color:rgb(205, 140, 235);

}

p{
    color: red;
    font-size: 15px;
}

.logged{
    color: aliceblue;
    font-size: 20px;
}

@media screen and (max-width: 335px) {
    .btn-area{
        cursor: pointer;
        color: aliceblue;
        font-size: 7px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        background: rgb(205, 140, 235);
    
    }
}
