<div class="container-CV">
  <nav class="navbar fixed-top justify-content-space-between">
    <h2>Nadya Pak</h2>
    <ul class="nav">
      <li class="nav-item">
        <div class="nav-link" [ngClass]="{active: key==='aboutMe'}" aria-current="page" (click)="scrollTo('aboutMe')">
          <img src="assets/img/about_me_icon.png" />
          About Me
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link" [ngClass]="{active: key==='portfolio'}" (click)="scrollTo('portfolio')">
          <img src="assets/img/portfolio.png" />
          Portfolio
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link" href="#" (click)="showCV()">
          <img src="assets/img/cv.png" />
          Download CV
        </div>
      </li>
    </ul>
  </nav>
  <div class="about-me-container" #aboutMe>
    <app-about-me></app-about-me>
  </div>
  <div class="portfolio-container" #portfolio>
    <app-portfolio></app-portfolio>
  </div>
</div>