    .container-CV {
        height: 100vh;
        position: relative;
        background-color: #363062;
        color: white;

        .menu-opened {
            position: absolute;
            background-color: black;
            opacity: 0.5;
            height: 100%;
            z-index: 1;
            width: 100%;
        }

        .menu-area {
            position: absolute;
            width: 20%;
            z-index: 2;
            height: 100%;
            background-color: white;
            color: rgb(119 56 206);

            .close-icon {
                font-size: 30px;
                position: absolute;
                margin-left: 85%;
                margin-top:5%;
            }

            .menu {
                display: flex;
                flex-direction: column;
                margin: 30% 10% 0 10%;
                .navbar-btn {
                    font-size: 25px;
                }
            }
        }

        .info-area {
            position: relative;
            display: flex;
            height: 95%;
            padding: 3% 10%;

            .nav-area {
                height: 90%;
                width: 60px;
                background-color: white;
                display: flex;
                flex-direction: column;
                margin: 40px 0;

                .menu-icon {
                    width: 100%;
                    height: 50px;
                    font-size: 25px;
                    text-align: center;
                    background-color: rgb(119 56 206);
                    border: none;
                    color: white;
                }

                .side-icons {
                    width: 100%;
                    margin: 40px 0;
                    font-size: 25px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    .cv-icon {
                        color: rgb(121, 110, 110);
                    }
                }

            }

            .avatar-area {
                width: 40%;
                height: 105%;
                background: url("/assets/Photo_blue.jpg");
                background-size: cover;
                background-position: top;
                position: relative;
                box-shadow: 0 32px 84px 0 rgb(0 0 0 / 50%);

                .name-area {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: white;
                    color: #4D4C7D;
                    opacity: 0.9;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }
            }

            .description-area {
                width: 60%;
                background-color: #4D4C7D;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 40px 0;
                padding: 0 5px 0 35px;
                overflow: hidden;
            }


        }
    }

@media all and (max-width:750px) {
        .container-CV {
            height: 100%;
            position: relative;

            .menu-opened {
                height: 200%;
            }
            .menu-area {
                position: fixed;
                height: 50%;
                width: 100%;
            }
            .info-area {
                display: flex;
                height: 100%;
                padding: 0;
                flex-wrap: wrap;
                flex-direction: column;
                .nav-area {
                    position: fixed;
                    z-index: 1;
                    margin: 0;
                    width: 100%;
                    flex-direction: row;
                    height: auto;

                    .menu-icon {
                        width: 80px
                    }

                    .side-icons {
                        width: 100%;
                        height: 50px;
                        margin: 0;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                    }

                }

                .description-area {
                    height: calc(100% - 50px);
                    width: 100%;
                    margin-top: 50px;
                    position: fixed;
                    .portfolio{
                        height: 100%;
                    }
                }
            }

        }
    }

    @media all and (max-height:500px) {
        .container-CV {
            .avatar-area{
            .name-area{
                h1,h3{
                    line-height:0.8;
                }
           
            }
            }
            .description-area {
             font-size: 10px;
             justify-content: flex-start;
            }
        }
    }